<!DOCTYPE html>  
<html lang="en">  
    <head>
        
        <script src="angular/angular.js"></script>
        <script src="javascripts/YeuCauController.js"></script>
    </head>
      <body ng-app="RentFixer1" ng-controller="DetailYeuCauController">
          <p>ID Yeu Cầu</p><input type="text" name="CMND" ng-model= "data.idyeucau">
          <p>Giờ bắt đầu</p><input type="text" name="hoten" ng-model= "data.giobatdau">
           <p>Giờ kết thúc</p><input type="text" name="CMND" ng-model= "data.gioketthuc">
          <p>nhân viên sửa chữa</p><input type="text" name="hoten" ng-model= "data.fixer">
           <p>nhận xét</p><input type="text" name="CMND" ng-model= "data.nhanxet">
          <p>Liên lạc</p><input type="text" name="hoten" ng-model= "data.lienlac">
            <p>Trạng thái</p><input type="text" name="CMND" ng-model= "data.trangthai">
          <button onclick="" ng-click="test()">save</button>
      </body>
</html> 
