<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="2vmBJlkAVCxNm1To_QmUH6uyrzP-b-rBn5UDsRUn4T8">
    <meta name="keywords" content="Sửa nước theo giờ, Sửa điện chuyên nghiệp, Sửa cửa, Sửa tivi, Sửa tủ lạnh, Sửa máy giặt, Sửa nhà, Làm các việc vặt, Sửa xe, Sửa bàn ghế">
    <meta name="description" content="Chúng tôi đảm bảo cung cấp đội ngũ nhân viên sửa chữa chuyên nghiệp, có kỹ năng làm việc và phẩm chất đạo đức tốt, đủ sức khỏe và lý lịch rõ ràng. Đặc biệt, đội ngũ nhân viên được chúng tôi chọn lựa, huấn luyện và kiểm tra trước khi phục vụ quý khách hàng. Bên cạnh đó, những đánh giá, góp ý của quý khách hàng sẽ là cơ sở và tiêu chí để chất lượng phục vụ của đội ngũ nhân viên chúng tôi ngày một được nâng cao nhằm thỏa mãn mọi yêu cầu của quý khách hàng.">
    <base href="/">
    <title>ProFixer - Tìm kiếm người sửa chữa theo giờ trong TP.HCM</title>
    <!-- Bootstrap Core CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
    <!-- Angular-material-->
    <link rel="stylesheet" href="angular-material/angular-material.css">
      
<!--      <script src="angular-material/angular-material.min.js"></script>-->
    <!-- Custom Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800 | Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS-->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="css/vegas.min.css" type="text/css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="slick/slick.css" type="text/css">
    <link rel="stylesheet" href="slick/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-datepicker3.standalone.min.css" type="text/css">
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/rent_fixer.css" type="text/css">
    <link rel="stylesheet" href="css/preload.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/app.css" type="text/css">
      
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43439791-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      function disableBack() { window.history.forward() }
      window.onload = disableBack();
      window.onpageshow = function(evt) { if (evt.persisted) disableBack() };
    </script>
  </head>
  <body id="page-top" ng-app="RentFixer">
    <div class="se-pre-con"></div>
    <div ng-controller="DangNhap">
      <div id="DangKyForm" role="dialog" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form name="formdangky" novalidate>
              <div class="modal-header bgxanhdam">
                <button type="button" ng-click="closeDangKy()" class="chutrang close">×</button>
                <h4 class="biggerfont modal-title chutrang">Đăng ký</h4>
              </div>
             <div  id="mypanel" class="modal-body">
                <md-content layout-padding="">
                    <md-input-container>
                        <label> <i class="fa  xanhnhat padright"></i>Tài khoản</label>
                        <input  required name="sdt" ng-model="data.taikhoan" autocomplete="off">
                    </md-input-container>
                     <md-input-container>
                        <label> <i class="fa  xanhnhat padright"></i>Mật Khẩu</label>
                        <input  required name="sdt" ng-model="data.matkhau" autocomplete="off">
                    </md-input-container>
                     <md-checkbox ng-model="dongySuDung">Đồng ý điều khoản sử dụng của ProFixer</md-checkbox>
                 </md-content>   
                </div>
<!--
              <div id="mypanel" class="modal-body modal-no-padding">
                <div ng-show="sdtTonTai" layout="row" layout-align="center center">
                  <p>Số điện thoại này đã được đăng ký!</p>
                </div>
                <div ng-show="dangkyThanhCong" layout="row" layout-align="center center">
                  <p>Đăng ký thành công</p>
                </div>
                <div layout="row" layout-align="center center" ng-show="loadingDangKy"><i class="fa fa-4x fa-cog fa-spin xanhnhat"></i></div>
                <md-content layout-padding="">
                  <div layout="" layout-sm="column">
                    <md-input-container flex>
                      <label> <i class="fa fa-user xanhnhat padright"></i>Họ tên</label>
                      <input md-maxlength="30" required name="hoten" ng-model="khachhang.hoten" autocomplete="off">
                      <div ng-messages="formdangky.hoten.$error">
                        <div ng-message="required">Thông tin bắt buộc.</div>
                        <div ng-message="md-maxlength">Tên không được quá 30 ký tự.</div>
                      </div>
                    </md-input-container>
                  </div>
                  <div layout="" layout-sm="row">
                    <md-input-container style="width:40%">
                      <label> <i class="fa fa-phone xanhnhat padright"></i>Số đtdđ</label>
                      <input md-maxlength="15" ng-pattern="/^[0-9]+$/" required name="sdt" ng-model="khachhang.sdt" autocomplete="off">
                      <div ng-messages="formdangky.sdt.$error">
                        <div ng-message="pattern">Số điện thoại không đúng quy định(số từ 1-9).</div>
                        <div ng-message="required"></div>
                        <div ng-message="md-maxlength">Số điện thoại không được nhiều hơn 30 ký tự.</div>
                      </div>
                    </md-input-container>
                    <md-input-container style="width:40%">
                      <label> <a class="i fa fa-shield xanhnhat padright"></a>Mã xác nhận</label>
                      <input autocomplete="off" ng-model="maxacnhan.nguoidung">
                    </md-input-container>
                    <md-button ng-click="layMaXacNhan(0)" ng-disabled="dalayMXNDK" class="md-fab md-mini md-primary chutrang">
                      <md-tooltip>Lấy mã xác nhận</md-tooltip><i class="fa fa-shield"></i>
                    </md-button>
                  </div>
                  <div layout="" layout-sm="column" layout-align="space-between center">
                    <p>{{thongbaosdt.dangky}}</p>
                    <p>{{thongbaomaxacnhan}}</p>
                  </div>
                  <div layout="" layout-sm="row">
                    <md-input-container style="width:80%">
                      <label> <i class="fa fa-map-marker xanhnhat padright"></i>Địa chỉ</label>
                      <input md-maxlength="150" required name="diachi" ng-model="khachhang.diachi" autocomplete="off">
                      <div ng-messages="formdangky.diachi.$error">
                        <div ng-message="required">Thông tin bắt buộc.</div>
                        <div ng-message="md-maxlength">Địa chỉ không được nhiều hơn 150 ký tự.</div>
                      </div>
                    </md-input-container>
                    <md-button ng-click="layDiaChi()" class="md-fab md-mini md-primary chutrang">
                      <md-tooltip>Lấy địa chỉ hiện tại</md-tooltip><i class="fa fa-map"></i>
                    </md-button>
                  </div>
                  <md-checkbox ng-model="dongySuDung">Đồng ý điều khoản sử dụng của ProFixer</md-checkbox>
                </md-content>
              </div>
-->
              <div class="modal-footer">
                <button type="submit" ng-disabled="formdangky.$invalid || kiemtraFormDangKy() || !dongySuDung" ng-click="DangKy()" class="marleft btn btn-danger pull-right"><i class="fa fa-check"></i> Đồng ý</button>
                <button type="button" ng-click="closeDangKy()" class="marleft btn btn-danger pull-right"><i class="fa fa-remove"></i> Hủy</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="DangNhapForm" role="dialog" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form name="formdangnhap" novalidate>
              <div class="modal-header bgxanhdam">
                <button type="button" ng-click="closeDangNhap()" class="chutrang close">×</button>
                <h4 class="biggerfont modal-title chutrang">Đăng Nhập</h4>
              </div>
                
                <div id="mypanel" class="modal-body">
                <md-content layout-padding="">
                    <md-input-container>
                        <label> <i class="fa xanhnhat padright"></i>Tài khoản</label>
                        <input  required name="sdt" ng-model="AccountKH.taikhoan" autocomplete="off">
                    </md-input-container>
                     <md-input-container>
                        <label> <i class="fa xanhnhat padright"></i>Mật khẩu</label>
                        <input  required name="sdt" ng-model="AccountKH.matkhau" autocomplete="off">
                    </md-input-container>
                 </md-content>   
                </div>
<!--
              <div id="mypanel" class="modal-body">
                <div ng-show="sdtKhongTonTai" layout="row" layout-align="center center">
                  <p>Số điện thoại này không tồn tại!</p>
                </div>
                <div layout="row" layout-align="center center" ng-show="loadingDangNhap"><i class="fa fa-4x fa-cog fa-spin xanhnhat"></i></div>
                <md-content layout-padding="">
                  <md-input-container>
                    <label> <i class="fa fa-phone xanhnhat padright"></i>Số đtdđ</label>
                    <input md-maxlength="15" ng-pattern="/^[0-9]+$/" required name="sdt" ng-model="khachhang.sdt" autocomplete="off">
                    <div ng-messages="formdangnhap.sdt.$error">
                      <div ng-message="pattern">Số điện thoại không đúng quy định(số từ 1-9).</div>
                      <div ng-message="required">Thông tin bắt buộc.</div>
                      <div ng-message="md-maxlength">Số điện thoại không được nhiều hơn 30 ký tự.</div>
                    </div>
                  </md-input-container>
                  <div layout="" layout-sm="column">
                    <md-input-container style="width:95%">
                      <label> <a class="i fa fa-shield xanhnhat padright"></a>Mã xác nhận</label>
                      <input autocomplete="off" ng-model="maxacnhan.nguoidung">
                    </md-input-container>
                    <md-button ng-click="layMaXacNhan(1)" ng-disabled="dalayMXNDN" class="md-fab md-mini md-primary chutrang">
                      <md-tooltip md-direction="left">Lấy mã xác nhận</md-tooltip><i class="fa fa-shield"></i>
                    </md-button>
                  </div>
                  <div layout="" layout-sm="column" layout-align="space-between center">
                    <p>{{thongbaosdt.dangnhap}}</p>
                    <p>{{thongbaomaxacnhan}}</p>
                  </div>
                </md-content>
              </div>
-->
              <div class="modal-footer">
                <button type="button" ng-click="showDangKy()" class="marright btn btn-danger"> Đăng ký</button>
                <button type="button" ng-disabled="formdangnhap.$invalid || kiemtraFormDangNhap()" ng-click="DangNhap(1)" class="marleft btn btn-danger pull-right"><i class="fa fa-check"></i> Đồng ý</button>
                <button type="button" ng-click="closeDangNhap()" class="marleft btn btn-danger pull-right"><i class="fa fa-remove"></i> Hủy</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display-->
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="javascript:window.location.href=window.location.href"><img src="img/FixerLogo.jpg" alt="Logo công ty" class="logow"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling-->
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right alignmiddle">
              <li><a href="#about" class="page-scroll">Giới thiệu</a></li>
              <li><a href="#services" class="page-scroll">Dịch vụ</a></li>
              <li><a href="#portfolio" class="page-scroll">Người sửa chữa</a></li>
              <li><a href="#KhachHang" class="page-scroll">Khách hàng</a></li>
              <li><a href="#" data-toggle="modal" data-target="#banggia" class="page-scroll">Bảng giá</a></li>
              <li><a href="#" data-toggle="modal" data-target="#hoidap" class="page-scroll">Hỏi đáp</a></li>
              <li><a href="#" data-toggle="modal" data-target="#chinhsach" class="page-scroll">Chính sách</a></li>
              <li><a href="#contact" class="page-scroll">Liên hệ</a></li>
<!--              <li><a ng-href="/blog" target="_self">Blog</a></li>-->
              <li>
                <div ng-show="!registed" style="padding-top:9px">
                  <button type="button" ng-click="showDangNhap()" class="marright btn btn-danger"> Đăng Nhập</button>
                </div>
                <div ng-show="registed">
                  <md-list-item><img alt="Ảnh đại diện" ng-src="{{ &quot;img/NGV.jpg&quot;  }}" class="md-avatar">
                    <div class="btn-group pull-right btnlogin">
                      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-danger dropdown-toggle">{{khachhang.hoten}}<i class="fa fa-chevron-down marleft"></i></button>
                      <ul class="dropdown-menu">
                        <li><a ng-href="/taikhoan?tab=tttk" target="_self">Thông tin tài khoản</a></li>
                        <li><a ng-href="/taikhoan?&amp;tab=lsdh" target="_self">Lịch sử đơn hàng</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="DangXuat()">Thoát</a></li>
                      </ul>
                    </div>
                  </md-list-item>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <header id="mainSlider" popover-close exclude-class="exclude" class="img-responsive">
      <div  class="header-content">
        <div class="header-content-inner">
          <h1 style="font-weight:600; padding:20px">ĐẶT DỊCH VỤ SỬA CHỮA</h2>
          <div>
            <div id="theongay" ng-controller="SearchController" >
              <form id="formTheoNgay" action="/search" method="post" class="form-inline removedot">
                <input type="hidden" name="typesearch" value="nh" class="form-control sb typeahead"/>
                <ul id="nhlist">
                  <li>
                    <div class="form-group " >
                        
                      <select ng-model="data.tenquan" data-size="7" class="form-control sb fixwquan nya-selectpicker my-scroll-home">
                        <option value="" disabled>Chọn Quận</option>
                        <option ng-repeat="quan in dsQuan" value="{{quan.tenquan}}">{{quan.tenquan}}</option>
                      </select>
                      <input id="quannh" type="hidden" name="quan" value="{{data.tenquan}}" class="form-control sb typeahead">
                     
                        <select ng-model="data.tendichvu"  data-size="7" class="form-control sb fixwdichvu nya-selectpicker"> 
                          <option value="" disabled>Chọn Dịch Vụ</option>
                        <option ng-repeat="dichvu in dsDichvu" value="{{dichvu.tendichvu}}">{{dichvu.tendichvu}}</option>
                      </select>
                      <input id="dichvunh" type="hidden" name="dichvu" value="{{data.tendichvu}}" class="form-control sb typeahead">
                        
                      <input type="text" name="ngay" placeholder="Chọn ngày" readonly="readonly" autocomplete="off" class="form-control sb dpindex fixWTimeNH">
                        
                    </div>
                    <div class="form-group my-scroll-home">
<!--                        <div  class="my-scroll-home">-->
                      <select ng-model="data.giobd" data-size="7" class="form-control sb fixWTime nya-selectpicker">
                        <option value="" disabled>Từ giờ</option>
                        <option ng-repeat="gio in dsGio" value="{{gio.name}}">{{gio.name}}</option>
                      </select>
<!--                            </div>-->
                      <input id="gbdnh" type="hidden" name="giobd1" value="{{data.giobd}}" class="form-control sb typeahead"/>
                      <select ng-model="data.giokt" data-size="7" class="form-control sb fixWTime nya-selectpicker">
                        <option value="" disabled>Đến giờ</option>
                        <option ng-repeat="gio in dsGio" value="{{gio.name}}">{{gio.name}}</option>
                      </select>
                      <input id="gktnh" type="hidden" name="giokt1" value="{{data.giokt}}" class="form-control sb typeahead"/>
                    </div>
                    <input id="submitnh1" type="submit" ng-click="Search()" value="Tìm kiếm" class="form-control sb btn btn-danger">
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="about" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Tất cả vì sự hài lòng của quý khách hàng</h2>
            <hr>
            <p class="text-faded justify">Chúng tôi đảm bảo cung cấp đội ngũ nhân viên sửa chữa chuyên nghiệp, có kỹ năng làm việc và phẩm chất đạo đức tốt, đủ sức khỏe và lý lịch rõ ràng. Đặc biệt, đội ngũ nhân viên được chúng tôi chọn lựa, huấn luyện và kiểm tra trước khi phục vụ quý khách hàng. Bên cạnh đó, những đánh giá, góp ý của quý khách hàng sẽ là cơ sở và tiêu chí để chất lượng phục vụ của đội ngũ nhân viên chúng tôi ngày một được nâng cao nhằm thỏa mãn mọi yêu cầu của quý khách hàng.</p><a href="https://play.google.com/store/apps/details?id=phong.com.nguoigiupviec&amp;hl=en" target="_blank" class="marleft"><img style="padding-bottom:5px" src="img/app_button/google_app.jpg" alt="Ứng dụng di động trên Google store"></a><a href="/" class="marleft"><img style="padding-bottom:5px" src="img/app_button/apple_app.jpg" alt="Ứng dụng di động trên Apple store"></a><a href="/" class="marleft"><img style="padding-bottom:5px" src="img/app_button/ms_app.jpg" alt="Ứng dụng di động trên Windows store"></a>
          </div>
        </div>
          
          <div class="row process"><div class="col-md-10 col-md-offset-1"><h2 class="title text-center">Các bước đặt dịch vụ</h2><div class="col-md-3 text-center"><div class="media-icon"><span class="icon">1</span></div><h3 class="media-title">Đặt dịch vụ</h3></div><div class="col-md-3 text-center"><div class="media-icon"><span class="icon">2</span></div><h3 class="media-title">Xác nhận, Tư vấn</h3></div><div class="col-md-3 text-center"><div class="media-icon"><span class="icon">3</span></div><h3 class="media-title">Thực hiện công việc</h3></div>
            <div class="col-md-3 text-center"><div class="media-icon-last"><span class="icon">4</span></div><h3 class="media-title">Đánh giá người sửa chữa</h3></div></div></div>
          
      </div>
    </section>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Chúng tôi hân hạnh gửi đến quý khách hàng các dịch vụ sau</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i class="fa fa-4x fa-child wow bounceIn text-primary"></i>
              <h3>Sửa điện</h3>
              <p class="text-muted justify">Sửa các thiết bị điện trong gia đình, công ty, nhà xưởng,...như sửa bóng đèn, sửa đường dây điện, lắp đồng hồ điện, lắp ổ cắm điện, sửa chặp điện,...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i data-wow-delay=".5s" class="fa fa-4x fa-wrench wow bounceIn text-primary"></i>
              <h3>Sửa nước</h3>
              <p class="text-muted justify">Lắp đặt sửa chữa đường ống nước, lắp đặt máy máy bơm nước, lắp đồng hồ nước, lắp đặt hệ thống nước cho máy giặt, lắp sửa chữa máy nóng lạnh,... </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i data-wow-delay=".2s" class="fa fa-4x fa-television wow bounceIn text-primary"></i>
              <h3>Sửa máy</h3>
              <p class="text-muted justify">Sửa các loại máy, máy giặt, máy điều hòa, lò vi sóng, quạt thông gió, máy quạt,...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i data-wow-delay=".3s" class="fa fa-4x fa-trash-o wow bounceIn text-primary"></i>
              <h3>Vệ sinh</h3>
              <p class="text-muted justify">Vệ sinh máy giặt, vệ sinh điều hòa, vệ sinh tủ lạnh, vệ sinh quạt, vệ sinh bồn nước,...</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i data-wow-delay=".2s" class="fa fa-4x fa-building wow bounceIn text-primary"></i>
              <h3>Sửa cửa</h3>
              <p class="text-muted justify">Lắp đặt sửa chữa các loại cửa, cửa sổ, cửa chính, cửa kính, cửa cuộn,...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i data-wow-delay=".3s" class="fa fa-4x fa-camera wow bounceIn text-primary"></i>
              <h3>Sửa và lắp hệ thống an ninh</h3>
              <p class="text-muted justify">Lắp đặt sửa chữa camera, chuông báo cháy, hệ thống phun nước khi cháy, hệ thống báo trộm,...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i data-wow-delay=".3s" class="fa fa-4x fa-tree wow bounceIn text-primary"></i>
              <h3>Lắp đặt và sửa chữa hệ thống vườn cây</h3>
              <p class="text-muted justify">Lắp đặt sửa chữa máy phun nước cho vườn, lắp đặt mái vòm, cắt tỉa cây cảnh,...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box"><i data-wow-delay=".3s" class="fa fa-4x fa-truck wow bounceIn text-primary"></i>
              <h3>Làm các công việc vặt</h3>
              <p class="text-muted justify">Giao đồ, hàng hóa, sơn nhà, dọn nhà,...</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio" class="no-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Danh sách nhân viên</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div ng-controller="FixerListController" class="container-fluid">
        <form id="xemchitietfixerform" name="xemchitietfixerform" novalidate action="/nguoi_giup_viec" ng-show="false" method="post">
          <input type="hidden" name="idngv" value="{{cmnd}}">
        </form>
        <div class="row no-gutter">
          <div layout="row" layout-align="center center" ng-show="loadingSlick"><i class="fa fa-4x fa-cog fa-spin xanhnhat"></i></div>
          <slick settings="slickconfig" ng-if="!loadingSlick" class="slicktest">
            <div ng-repeat="fixer in dsFixer | orderBy: &quot;-sonamkinhnghiem&quot;" class="col-xs-6 col-sm-3">
              <div class="thumbnail center-block"><a data-ng-if="!refreshing" ng-click="xemChiTietFixer(fixer.cmnd)" ng-href="#" class="portfolio-box"><img ng-src="{{fixer.hinhanh}}" alt="Ảnh đại diện" class="avatar img-responsive">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded"> </div>
                      <div class="project-name">Xem thông tin chi tiết</div>
                    </div>
                  </div></a>
                <div class="caption">
                  <div class="row">
                    <div class="left padleftngv">
                      <h5 class="i fa fa-user xanhnhat marbtm padright"></h5>{{fixer.hoten}}
                    </div>
                    </div>
                    <div class="row">
                    <div class="left padleftngv">
                      <h5 class="i fa fa-birthday-cake xanhnhat marbtm padright"></h5>{{fixer.ngaysinh}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="left padleftngv">
                      <h5 class="i fa fa-clock-o xanhnhat marbtm padright"></h5>{{fixer.sonamkinhnghiem + ' năm kinh nghiệm'}}
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </slick>
        </div>
      </div>
    </section>
  <section id="KhachHang">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Khách Hàng</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div ng-controller="KhachHangController" class="container-fluid">
      <div class="row no-gutter">
        <slick settings="slickconfig" class="slicktest">
          <div ng-repeat="khachhang in dsKH" class="col-xs-6 col-sm-2"><img ng-src="{{khachhang.hinhanh}}" alt="Ảnh đại diện" class="img-responsive"></div>
        </slick>
      </div>
    </div>
    </section>
    <section id="contact" class="contactbg">
      <div class="container">
        <div class="col-md-6 pull-left">
          <div class="row">
            <h2 class="section-heading chutrang pull-left">ProFixer</h2>
          </div><br>
          <div class="row">
            <div class="left">
              <h5 class="i fa fa-map-marker marbtm padright chutrang"></h5>216 Nguyễn Thị Minh Khai, P. 6, Quận 3, TP. HCM
            </div>
          </div><br>
          <div class="row">
            <div class="left">
              <h5 class="i fa fa-envelope marbtm padright chutrang"></h5>cs@profixer.vn
            </div>
          </div><br>
          <div class="row">
            <div class="left">
              <h5 class="i fa fa-phone marbtm padright chutrang"></h5>08 3930 5057 - 08 3930 5058
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row center-block">
            <h2 class="section-heading chutrang">Liên Hệ</h2>
          </div><br>
          <div class="row">
            <div>
              <form id="contactForm" name="sentMessage" novalidate="">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <input id="name" ng-model="contact.ten" type="text" placeholder="Tên *" required="" data-validation-required-message="Please enter your name." class="form-control">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <input id="phone" ng-model="contact.sdt" type="tel" placeholder="Số điện thoại *" required="" data-validation-required-message="Please enter your phone number." class="form-control">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <input id="email" ng-model="contact.email" type="email" placeholder="Email *" required="" data-validation-required-message="Please enter your email address." class="form-control">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <textarea id="message" ng-model="contact.noidung" placeholder="Nội dung *" required="" data-validation-required-message="Please enter a message." class="form-control"></textarea>
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="row">
                  <div id="success"></div>
                  <button type="button" ng-click="guiEmail()" class="btn btn-danger btn-xl">Gửi tin</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="left">
            <h5 class="i fa fa-copyright marbtm padright chutrang"></h5>Copyright by ProFixer
          </div>
          <div class="right pull-right"><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-facebook"></i></a><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-twitter"></i></a><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-google-plus"></i></a><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </section>
  </body>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/preload.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/jquery.easing.min.compress.js"></script>
      <script src="js/jquery.fittext_compress.js"></script>
      <script src="js/wow.min.js"></script>
      <script src="js/vegas.min.js"></script>
      <script src="angular/angular.js"></script>
      <script src="angular-material/angular-material.min.js"></script>
      <script src= "javascripts/angular-modules.js"></script>
      <script src= "javascripts/factory/DataFactory.js"></script>
      <script src= "javascripts/FixerListController.js"></script>
      <script src= "javascripts/SearchController.js"></script>
      <script src= "javascripts/KhachHangController.js"></script>
      <script src="//code.angularjs.org/1.0.8/i18n/angular-locale_vi-vn.js"></script>
      <script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
      <script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
      <script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-touch.min.js"></script>
      <script src="js/angular-slider.min.js"></script>
      <script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
      <script src= "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-cookies.js"></script>
      <script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
      <script src="//code.angularjs.org/1.4.4/angular-messages.js"></script>
<!--      <script src= "//cdn.gitcdn.xyz/cdn/angular/bower-material/8a3c74f8b974b66a4975f551f2b2b815c0a2b40e/angular-material.js"></script>-->
      <script src= "//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/nya-bootstrap-select.js"></script>
      <script src="slick/slick.js"></script>
      <script src="slick/angular/angular-slick.min.js"></script>
      <script src="js/bootstrap-datepicker.min.js"></script>
      <script src= "fullcalendar/angular_full_calendar.js"></script>
      <script src="js/cancelableq.js"></script>
      <script src="locales/bootstrap-datepicker.vi.min.js"></script>
      <script src="js/creative.js"></script>
    
</html><script type='text/javascript'>window._sbzq||function(e){e._sbzq=[];var t=e._sbzq;t.push(["_setAccount",32700]);var n=e.location.protocol=="https:"?"https:":"http:";var r=document.createElement("script");r.type="text/javascript";r.async=true;r.src=n+"//static.subiz.com/public/js/loader.js";var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)}(window);</script>
<!-- modal-->
<div id="banggia" role="dialog" class="modal fade">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bgxanhdam">
        <button type="button" data-dismiss="modal" class="chutrang close">×</button>
        <h4 class="biggerfont modal-title chutrang">Bảng giá</h4>
      </div>
      <div class="modal-body">
        <table class="table-bordered tablebg">
          <h4>Bảng giá cho một người sửa chữa</h4>
          <thead>
            <tr>
              <th>Dịch vụ</th>
              <th>Phí cơ bản(VNĐ/Giờ)</th>
              <th>Phụ phí</th>
              <th>Phí ngoài giờ</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tc in tieuchi">
              <td>{{tc.tentieuchi}}</td>
              <td>{{tc.giachuan | currency:'VNĐ':0}}</td>
              <td>{{tc.phuphi}}</td>
              <td>{{tc.phingoaigiokh + '%'}}</td>
            </tr>
          </tbody>
        </table><br>
        <h4>Ghi Chú</h4>
        <p class="padleft justify"> • Phụ phí: là phí tính cho những dịch vụ mà khách hàng có những yêu cầu thêm nhưng chưa được xác định trước. Phụ phí này sẽ được nhân viên công ty tư vấn cho quý khách hàng ứng với từng trường hợp cụ thể.</p>
        <p class="padleft justify"> • Phí ngoài giờ: là % phí cơ bản, tính cho những dịch vụ mà khách hàng yêu cầu được phục vụ ngoài khung giờ chuẩn. Khung giờ chuẩn của công ty là từ 8 giờ sáng đến 6 giờ chiều.</p><br>
        <h4>Chính sách đặc biệt về giá</h4>
        <p class="padleft justify"> • Trường hợp quý khách hàng đặt đơn hàng có thời hạn từ 7 đến 15 ngày, quý khách hàng được giảm giá 5% tổng chi phí cho cả đơn hàng.</p>
        <p class="padleft justify"> • Trường hợp quý khách hàng đặt đơn hàng có thời hạn hơn 15 ngày, quý khách hàng được giảm giá 10% tổng chi phí cho cả đơn hàng.</p>
        <p class="padleft justify"> • Ngoài ra, công ty còn có những mã khuyến mãi sẽ được gửi trực tiếp đến quý khách hàng cho những dịp đặc biệt và/hoặc những khách hàng thân thiết.</p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<div id="hoidap" role="dialog" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bgxanhdam">
        <button type="button" data-dismiss="modal" class="chutrang close">×</button>
        <h4 class="biggerfont modal-title chutrang">F.A.Q - Câu hỏi thường gặp</h4>
      </div>
      <div id="mypanel" class="modal-body">
        <div class="fancy-collapse-panel">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel panel-default">
              <div role="tab" id="hd1" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau1" aria-expanded="false" aria-controls="cau1" class="collapsed">1.   Tại sao Quý khách hàng nên chọn người sửa chữa thông qua ProFixer?</a></h3>
              </div>
              <div id="cau1" role="tabpanel" aria-labelledby="hd1" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Những lý do sau đây sẽ giúp cho quý khách hàng giải đáp được thắc mắc trên:</p>
                  <p class="justify padleft">- Người sửa chữa là nhân viên của ProFixer, chịu sự quản lý và chấp hành nội quy của Công ty nên Quý khách hàng không cần lo lắng về việc quản lý Người sửa chữa.</p>
                  <p class="justify padleft">- Người sửa chữa có lý lịch nhân thân rõ ràng, có giấy chứng nhận sức khỏe của bệnh viện.</p>
                  <p class="justify padleft">- Quý khách hàng sẽ luôn có Người sửa chữa ổn định trong suốt thời gian hợp đồng.</p>
                  <p class="justify padleft">- Quý khách hàng được ProFixer chịu trách nhiệm vật chất nếu có thất thoát xảy ra do người sửa chữa.</p>
                  <p class="justify padleft">- ProCleaner xếp hạng nhân viên thông qua đánh giá của khách hàng nên luôn đảm bảo chất lượng Người sửa chữa.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd2" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau2" aria-expanded="false" aria-controls="cau2" class="collapsed">2.  Liên hệ với ProFixer như thế nào?</a></h3>
              </div>
              <div id="cau2" role="tabpanel" aria-labelledby="hd2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Vui lòng gọi số: 08.3930.5057 08.3930.5058 hoặc gửi email đến địa chỉ: cs@profixer.vn</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd3" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau3" aria-expanded="false" aria-controls="cau3" class="collapsed">3.  Ứng dụng ProFixer đòi các quyền truy cập (permission) để làm gì?</a></h3>
              </div>
              <div id="cau3" role="tabpanel" aria-labelledby="hd3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Ứng dụng ProFixer khi cài đặt sẽ sử dụng các quyền truy cập sau đây:</p>
                  <p class="justify padleft">-  Vị trí người dùng: Giúp ứng dụng tìm vị trí hiện tại của người dùng để thiết lập địa điểm phục vụ dễ dàng hơn.</p>
                  <p class="justify padleft">-  SMS: Giúp ứng dụng tự động điền mã kích hoạt tài khoản mà không cần phải vào ứng dụng tin nhắn.</p>
                  <p class="justify padleft">-  Điện thoại: Giúp khách hàng khi click vào số điện thoại thì có thể gọi ngay cho ProFixer.</p>
                  <p class="justify padleft">-  Ảnh/phương tiện/tệp: ProFixer lưu lại một số hình ảnh ít thay đổi để giúp ứng dụng chạy nhanh hơn.</p>
                  <p class="justify padleft">-  Lịch sử ứng dụng và thiết bị: ProFixer sẽ tự động ghi nhận những trường hợp chạy ứng dụng bị lỗi tạo điều kiện cho nhóm phát triển nâng cao chất lượng ứng dụng.</p>
                  <p class="justify padleft">-  Quyền truy cập mạng: ProFixer là ứng dụng cần kết nối mạng để có thể hoạt động.</p>
                  <p class="justify padleft">-  Nhận dạng: ProFixer sử dụng nhận dạng để gửi thông tin trạng thái Yêu cầu cho người dùng thông qua trung tâm thông báo của điện thoại.</p>
                  <p class="justify padleft">-  Các quyền truy cập còn lại ProFixer dùng để ghi nhận thói quen sử dụng của người dùng nhằm giúp nhóm phát triển liên tục cải tiến ứng dụng để phục vụ người sử dụng tốt hơn.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd4" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau4" aria-expanded="false" aria-controls="cau4" class="collapsed">4.  Tại sao phải đánh giá người sửa chữa?</a></h3>
              </div>
              <div id="cau4" role="tabpanel" aria-labelledby="hd4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Đánh giá người sửa chữa vừa là quyền lợi vừa là trách nhiệm của Quý khách hàng. Việc này giúp cho Công ty đánh giá chính xác hơn về chất lượng công việc mà nhân viên chúng tôi đang mang đến phục vụ Quý khách, đồng thời giúp chúng tôi có cơ sở để xác nhận với Quý khách hàng rằng chúng tôi đã mang đến cho Quý khách một dịch vụ đúng như cam kết.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd5" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau5" aria-expanded="false" aria-controls="cau5" class="collapsed">5.  Làm thế nào để sử dụng dịch vụ của ProFixer?</a></h3>
              </div>
              <div id="cau5" role="tabpanel" aria-labelledby="hd5" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">•  Đặt yêu cầu trực tiếp hoặc bằng ứng dụng ProFixer trên smartphone hoặc thông qua website ProFixer.vn.</p>
                  <p class="justify">•  Liên hệ với chúng tôi:</p>
                  <h5 class="justify padleft">   Điện thoại: 08.3930.5057 08.3930.5058</h5>
                  <h5 class="justify padleft">   Email: cs@procfixer.vn</h5>
                  <h5 class="justify padleft">   Đến Trụ sở: 216 Nguyễn Thị Minh Khai, Phường 6, Quận 3, TP. HCM</h5>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd6" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau6" aria-expanded="false" aria-controls="cau6" class="collapsed">6.  Hình thức thanh toán phí sử dụng dịch vụ như thế nào?</a></h3>
              </div>
              <div id="cau6" role="tabpanel" aria-labelledby="hd6" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">• Quý khách hàng thanh toán tiền phí sử dụng dịch theo từng tháng nếu là hợp đồng dài hạn hoặc ngay khi kết thúc thời gian sử dụng dịch vụ nếu là hợp đồng ngắn hạn (dưới một tháng).</p>
                  <p class="justify">• Quý khách hàng thanh toán bằng tiền mặt cho nhân viên do Công ty chỉ định theo giấy giới thiệu của Công ty.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd7" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau7" aria-expanded="false" aria-controls="cau7" class="collapsed">7.  Có cần phải ký hợp đồng sửa chữa không?</a></h3>
              </div>
              <div id="cau7" role="tabpanel" aria-labelledby="hd7" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">• Để thuận tiện cho Quý khách hàng, chúng tôi đã ghi sẵn các điều khoản trong mục “CHÍNH SÁCH” trên website Công ty (ProFixer.vn). Khi Quý khách hàng đặt yêu cầu sử dụng dịch vụ của Công ty, thì mặc nhiên là đã đọc và đồng ý tất cả các điều khoản này.</p>
                  <p class="justify">• Nếu Quý khách hàng cần ký hợp đồng, Công ty chúng tôi sẽ tư vấn và gửi đến Quý khách hàng từng hợp đồng riêng cho từng trường hợp cụ thể.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd8" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau8" aria-expanded="false" aria-controls="cau8" class="collapsed">8.  Có được đổi người sửa chữa không?</a></h3>
              </div>
              <div id="cau8" role="tabpanel" aria-labelledby="hd8" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Quý khách có toàn quyền yêu cầu thay đổi người sửa chữa nhưng phải báo trước cho Công ty trước 24h của buổi làm đó.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd9" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau9" aria-expanded="false" aria-controls="cau9" class="collapsed">9.  Người sửa chữa có thu tiền mặt của khách hàng không?</a></h3>
              </div>
              <div id="cau9" role="tabpanel" aria-labelledby="hd9" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Việc thu tiền sẽ do nhân viên có giấy giới thiệu của Công ty đến thu. Người sửa chữa sẽ không được phép thu tiền mặt của Quý khách hàng ngoại trừ đơn hàng yêu cầu dịch vụ dưới 1 tuần. Khi đó Người sửa chữa cũng phải có giấy giới thiệu của Công ty thì mới được phép thu tiền của Quý khách hàng.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd10" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau10" aria-expanded="false" aria-controls="cau10" class="collapsed">10. Thời gian từ lúc đặt yêu cầu đến lúc có người sữa chữa tối thiểu là bao lâu?</a></h3>
              </div>
              <div id="cau10" role="tabpanel" aria-labelledby="hd10" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Để chúng tôi có thể sắp xếp Người sửa chữa cho Quý khách hàng một cách thuận lợi, thời gian mà Người sửa chữa của Công ty có thể đến phục vụ yêu cầu của Quý khách tối thiểu là 03 (ba) giờ đồng hồ kể từ lúc Quý khách đặt yêu cầu.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd11" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau11" aria-expanded="false" aria-controls="cau11" class="collapsed">11. Thời gian phục vụ của người sửa chữa bắt đầu và kết thúc khi nào?</a></h3>
              </div>
              <div id="cau11" role="tabpanel" aria-labelledby="hd11" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Việc thu tiền sẽ do nhân viên có giấy giới thiệu của Công ty đến thu. Người sửa chữa sẽ không được phép thu tiền mặt của Quý khách hàng ngoại trừ đơn hàng yêu cầu dịch vụ dưới 1 tuần. Khi đó Người sửa chữa cũng phải có giấy giới thiệu của Công ty thì mới được phép thu tiền của Quý khách hàng.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd12" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau12" aria-expanded="false" aria-controls="cau12" class="collapsed">12. Giá dịch vụ có tăng trong thời điểm Tết hay không?</a></h3>
              </div>
              <div id="cau12" role="tabpanel" aria-labelledby="hd12" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Việc Đối với những ngày thường hay ngày Tết lượng Khách hàng đăng ký sử dụng dịch vụ đang tăng lên rất nhanh nhưng với phương châm phục vụ Khách hàng đặt chất lượng lên hàng đầu, trở thành Khách hàng thường xuyên và gắn bó với Công ty thì ProFixer vẫn giữ giá dịch vụ như cũ đối với tất cả các dịch vụ. Trừ những Khách hàng có nhu cầu sử dụng trong khoảng thời gian Công ty nghỉ Tết Nguyên Đán bắt đâu từ 30 Tết – hết mùng 4 Tết thì giá dịch vụ sẽ tính 300% so với ngày thường theo quy định Luật lao động của Việt Nam.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd13" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau13" aria-expanded="false" aria-controls="cau13" class="collapsed">13. ProFixer cung cấp dịch vụ ở những nơi nào?</a></h3>
              </div>
              <div id="cau13" role="tabpanel" aria-labelledby="hd13" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Công ty chúng tôi cung cấp dịch vụ ở tất cả các Quận trong địa bàn Thành phố Hồ Chí Minh.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="hd14" class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#cau14" aria-expanded="false" aria-controls="cau14" class="collapsed">14. Chất lượng người sửa chữa của ProFixer được đảm bảo như thế nào?</a></h3>
              </div>
              <div id="cau14" role="tabpanel" aria-labelledby="hd14" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="justify">Chúng tôi có một quy trình tuyển dùng và đạo tạo người giúp việc chuyên nhiệp từ khâu tìm kiếm nguồn lực người sửa chữa, lựa chọn tuyển dùng và đào tạo đến khâu điều phối người sửa chữa phù hợp với từng đối tượng khách hàng. Điều đó giúp chúng tôi có thể tự tin để mang để cho Quý khách hàng những dịch vụ với chất lượng cao nhất. Ngoải ra, chúng tôi cũng thiết kế các kênh liên lạc một cách linh động nhất để Quý khách có thể trao đổi trực tiếp với Công ty về chất lượng dịch vụ và con người mà Công ty chúng tôi đang mang đến cho Quý khách. Điều này giúp chúng tôi có thể lắng nghe phản ánh của Quý khách một cách nhanh chóng, chính xác và đầy đủ nhất để có thể ngày một nâng cao chất lượng dịch vụ mà chúng tôi mong muốn mang đến cho Quý khách, làm cho cuộc sống của Quý khách ngày càng tiện lợi hơn.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<div id="chinhsach" role="dialog" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bgxanhdam">
        <button type="button" data-dismiss="modal" class="chutrang close">×</button>
        <h4 class="biggerfont modal-title chutrang">Chính sách</h4>
      </div>
      <div class="modal-body">
        <p>Hai bên đồng ý cung cấp và sử dụng dịch vụ theo các điều khoản sau:</p>
        <p class="boldp">1. Quyền và nghĩa vụ của Khách hàng</p>
        <p class="justify padleftdk">- Đảm bảo môi trường làm việc tốt, an toàn và lành mạnh cho nhân viên Công ty (không có hoá chất độc hại, không bị ô nhiễm, không có các hành vi quấy rối, xâm hại đến tính mạng, danh dự, nhân phẩm, thân thể của nhân viên Công ty);</p>
        <p class="justify padleftdk">- Tự bảo quản và chịu trách nhiệm trong việc quản lý tài sản của mình trong mọi trường hợp; Trường hợp Khách hàng giao chìa khóa cho nhân viên của Công ty để thực hiện công việc, Khách hàng cam kết hành vi này của Khách hàng không tạo ra quan hệ gửi giữ tài sản giữa Khách hàng và Công ty;</p>
        <p class="justify padleftdk">- Hủy buổi làm việc: để đảm bảo lịch làm việc ổn định cho nhân viên Công ty, Khách hàng sẽ không được quyền hủy buổi làm việc. Trong trường hợp Khách hàng cần hủy buổi làm việc thì buổi làm việc đó sẽ được Công ty sắp xếp nhân viên làm bù buổi làm bị hủy cho Khách hàng. Buổi làm bù này sẽ được thực hiện trong thời gian tối đa là 01 (một) tuần tính từ ngày Khách hàng đăng ký dịch vụ. Sau thời gian này, nếu các bên không sắp xếp được thời gian để làm bù thì Công ty sẽ không có trách nhiệm làm bù cho Khách hàng nữa;</p>
        <p class="justify padleftdk">- Trong trường hợp Khách hàng muốn thay đổi lịch làm việc, Khách hàng cần thông báo cho Công ty trước 24h của buổi làm đó, nếu Khách hàng không thông báo trước thời gian 24h, Khách hàng sẽ phải chịu 100% phí dịch vụ của buổi làm việc đó;</p>
        <p class="justify padleftdk">- Không nhận nhân viên Công ty vào làm việc trực tiếp bằng bất kỳ hình thức nào trong thời gian sử dụng dịch vụ hoặc trong vòng 3 tháng kể từ ngày đăng ký dịch vụ của Công ty; nếu vi phạm sẽ phải bồi thường chi phí tuyển dụng và đào tạo nhân viên đó cho Công ty, chi phí do Công ty xác định nhưng sẽ không thấp hơn 5.000.000 đồng (bằng chữ: năm triệu đồng) một nhân viên. Công ty có quyền công khai thông tin cá nhân của Khách hàng và nội dung các vi phạm của Khách hàng (nếu có) trên các phương tiện truyền thông của Công ty nếu Khách hàng vi phạm điều khoản này;</p>
        <p class="justify padleftdk">- Có trách nhiệm theo dõi, xác nhận thời gian làm việc và các thông tin khác vào “Bảng đánh giá” của nhân viên Công ty. Giờ làm việc phát sinh ngoài thời gian đã đăng ký sẽ được tính thêm phí;</p>
        <p class="justify padleftdk">- Kịp thời thông báo cho Công ty trong vòng 24 giờ nếu phát hiện những hành vi tiêu cực từ phía nhân viên Công ty để hai bên cùng phối hợp xử lý;</p>
        <p class="justify padleftdk">- Trong trường hợp Khách hàng không hài lòng với chất lượng công việc hoặc phát hiện mất, hoặc hư hỏng tài sản trong thời gian nhân viên Công ty đang làm việc cho Khách hàng thì Khách hàng phải ghi nhận vào "Bảng đánh giá”, thông báo ngay cho đại diện của Công ty, giữ chân Nhân viên của Công ty đến khi đại diện của Công ty có mặt;</p>
        <p class="justify padleftdk">- Trong trường hợp nghi ngờ nhân viên Công ty có hành vi trộm cắp tài sản hoặc làm hư hỏng tài sản của Khách hàng nhưng chưa có kết luận của cơ quan điều tra, Khách hàng không được cung cấp thông tin cho bất kỳ cá nhân, tổ chức nào làm ảnh hưởng đến uy tín, thương hiệu của Công ty. Nếu vi phạm, Khách hàng phải thanh toán cho Công ty một khoản tiền bồi thường, khoản tiền này sẽ do Công ty xác định;</p>
        <p class="justify padleftdk">- Không tự ý thoả thuận với nhân viên Công ty để thay đổi, làm sai khác các nội dung đã thống nhất trong văn bản này.</p>
        <p class="boldp">2. Quyền và nghĩa vụ của Công ty</p>
        <p class="justify padleftdk">- Cung cấp nhân viên sửa chữa cho Khách hàng đảm bảo lý lịch, nguồn gốc rõ ràng và có xác nhận của chính quyền địa phương, đã được đào tạo về nghiệp vụ sửa chữa theo tiêu chuẩn của Công ty;</p>
        <p class="justify padleftdk">- Thường xuyên trao đổi và tiếp nhận thông tin phản hồi từ Khách hàng về chất lượng dịch vụ; cung cấp lại dịch vụ cho phần việc xảy ra do lỗi của nhân viên Công ty làm Khách hàng chưa hài lòng, thể hiện trên “Bảng đánh giá” của nhân viên.</p>
        <p class="boldp">3. Giải quyết tranh chấp và khiếu nại</p>
        <p class="justify padleftdk">Khi xảy ra mâu thuẫn, tranh chấp, hai bên sẽ ưu tiên tiến hành giải quyết công việc thông qua việc tự thương lượng, hoà giải, trên tinh thần hỗ trợ lẫn nhau. Nếu không, mọi mâu thuẫn, tranh chấp sẽ được đưa ra giải quyết tại Toà án Nhân dân có thẩm quyền.</p>
        <p class="justify boldp">4. Thanh toán phí dịch vụ</p>
        <p class="justify padleftdk">- Khách hàng có nghĩa vụ thanh toán tiền phí sử dụng dịch theo từng tháng nếu là hợp đồng dài hạn hoặc ngay khi kết thúc thời gian sử dụng dịch vụ nếu là hợp đồng ngắn hạn (dưới một tháng).</p>
        <p class="justify padleftdk">- Khách hàng thanh toán bằng tiền mặt cho nhân viên do Công ty chỉ định theo giấy giới thiệu của Công ty.</p>
      </div>
      <div class="modal-footer"></div>
    </div>
    <!-- head loading js-->
    
  </div>
</div>