<!DOCTYPE html>  
<html lang="en">  
    <head>
        
        <script src="angular/angular.js"></script>
        <script src="javascripts/demo.js"></script>
    </head>
      <body ng-app="demo1" ng-controller="AccountController">
          <p>Tai Khoan</p><input type="text" name="CMND" ng-model= "data.taikhoan">
          <p>Mat Khau</p><input type="text" name="CMND" ng-model= "data.matkhau">

          <button onclick="" ng-click="test()">save</button>
      </body>
</html> 
