<!DOCTYPE html>  
<html lang="en">  
    <head>
        
        <script src="angular/angular.js"></script>
        <script src="javascripts/demo.js"></script>
    </head>
      <body ng-app="demo1" ng-controller="QuanController">
          <p>Ten Quan</p><input type="text" name="CMND" ng-model= "data.tenquan">
          <p>Ten khu vuc</p><input type="text" name="hoten" ng-model= "data.tenkhuvuc">
          <button onclick="" ng-click="test()">save</button>
      </body>
</html> 
