<!DOCTYPE html>  
<html lang="en">  
    <head>
        
        <script src="angular/angular.js"></script>
        <script src="javascripts/demo.js"></script>
    </head>
      <body ng-app="demo1" ng-controller="DichVuController">
          <p>Ten Dich Vu</p><input type="text" name="CMND" ng-model= "data.tendichvu">
          <p>Mo ta</p><input type="text" name="CMND" ng-model= "data.mota">

          <button onclick="" ng-click="test()">save</button>
      </body>
</html> 
