<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="...">
    <meta name="keywords" content="...">
    <meta name="author" content="...">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet" media="screen">
    <link href="css/czsale.css" rel="stylesheet" media="screen">
    <link href="css/czsale-responsive.css" rel="stylesheet" media="screen">
    <link href="css/czsale-carousel.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="slick/slick.css" type="text/css">
    <link rel="stylesheet" href="slick/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-datepicker3.standalone.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="css/preload.css" type="text/css">
      <link rel="stylesheet" href="css/collapse.css" type="text/css">
<link rel="stylesheet" href="css/creative.css" type="text/css">
      <link rel="stylesheet" href="css/rent_fixer.css" type="text/css">
      <link rel="stylesheet" href="stylesheets/app.css" type="text/css">
</head>
  <body ng-app="RentFixer">
    <div class="se-pre-con"></div>
<!--
      <div ng-controller="ThongTinKhachHangController" ng-init="initData()">
        <div id="formDanhSachYeuCau" role="dialog" class="modal fade">
            <div class="modal-dialog" style="width:900px">
              <div class="modal-content">
                <form name="formdangky" novalidate>
                  <div class="modal-header bgxanhdam">
                    <button type="button" ng-click="closeDanhSachYeuCau()" class="chutrang close">×</button>
                    <h4 class="biggerfont modal-title chutrang">Danh sách yêu cầu</h4>
                  </div>
                 
                    
                    <div  id="mypanel" class="modal-body">
                    <div class="form-group" style="text-align:center">
                        <span>Tên tài khoản : <label>{{taikhoan}}</label></span>
                    </div>
                    <div ng-hide="isNhanXet" class="form-group" >
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Trạng Thái</th>
                                <th>Ngày Làm</th>
                                <th>Tên Thợ</th>
                                <th>Dịch vụ</th>
                                <th>Phí</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="yeucau in dsYeuCau">
                                    <td>{{yeucau.trangthai}}</td>
                                    <td>{{yeucau.ngaylam}}</td>
                                    <td>{{yeucau.hotenTho}}</td>
                                    <td>{{yeucau.dichvuyc.join(", ")}}</td>
                                    <td>{{yeucau.phidichvu | number}} Đ</td>
                                    <td><button ng-show="yeucau.trangthai == 'Kết thúc'" class="btn btn-success" ng-click="NhanXet()">Nhận xét</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                     <div ng-show="isNhanXet" class="form-group">
                        <label> <i class="fa  xanhnhat padright"></i>Nhận Xét</label>
                         <textarea rows="4" cols="50" required name="sdt" ng-model="data.nhanxet" ></textarea>
                        <button class="marleft btn btn-danger pull-right" type="button" ng-click="SaveNhanXet()" ><i ></i> Lưu</button>
                    </div>
                 </div>
                  
                    
                    <div class="modal-footer">
                    <button type="button" ng-click="closeDanhSachYeuCau()" class="marleft btn btn-danger pull-right"><i class="fa fa-remove"></i> Close</button>
                  </div>
                </form>
              
                  
                
                </div>
            </div>
        </div>
      
    </div>
-->
      
   <div ng-controller="DangNhap" ng-init="initDataOfDangNhapController()">   
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
       
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div ng-controller="loginController" class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div id="navbar" ng-init="checkCookies()" class="navbar-collapse collapse">
          <div layout="row" layout-align="space-between center"><a ng-href="/" target="_self"><img src="img/FixerLogo1.jpg" alt="logo Công Ty" class="logow"></a>
<!--
            <div ng-if="!registed">
              <button type="button" ng-click="showDangKy()" class="marright btn btn-danger"> Đăng ký</button>
             <button type="button" ng-click="showDangNhap()" class="marright btn btn-danger"> Đăng Nhập</button>
            </div>
-->
            <div ng-show="registed">
              <md-list-item><img alt="user" ng-src="{{ &quot;img/NGV.jpg&quot;  }}" class="md-avatar">
                <div class="btn-group">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-danger dropdown-toggle">{{AccountKH.hoten}}<i class="fa fa-chevron-down marleft"></i></button>
                  <ul class="dropdown-menu">
                      <li style="text-align:center">
                            <button class="btn btn-link btn-sm"><a href="/thong_tin_khach_hang">Thông tin khách hàng</a></button>
                        </li>
                      <li style="text-align:center">
                            <button class="btn btn-link btn-sm"><a href="/thong_ke_don_hang">Thống kê đơn hàng</a></button>
                        </li>
                        <li role="separator" class="divider"></li>
                      <li style="text-align:center"><a ng-href="/" target="_self"><button   ng-click="DangXuat()"  class="btn btn-link btn-sm">Thoát</button></a></li>
                      </ul>
                </div>
              </md-list-item>
            </div>
          </div>
        </div>
        <!-- /.nav-collapse-->

      </div>
    </nav>
      </div>

<section id="content" style="padding:100px;">
       
   <div ng-controller="ThongKeDonHangController" ng-init="initData()">
       <div  id="mypanel"  style="padding = 70px" >
            <div class="form-group" style="text-align:center">
               <h2> <span>Danh Sách Yêu Cầu Của Khách Hàng <label>{{hoten}}</label></span></h2>
            </div>
            <div ng-show="isNhanXet" class="form-group">
                <div class="form-group">
                    <h4><label> <i class="fa  xanhnhat padright"></i>Nhận Xét - Đánh giá thợ</label></h4>
                     <textarea rows="7" cols="70" required name="sdt" ng-model="nhanxet" ></textarea>
                    <button class="marleft btn btn-danger pull-right" type="button" ng-click="SaveNhanXet()" ><i ></i> Lưu</button>
                    <button class="marleft btn btn-danger pull-right" type="button" ng-click="quayLai()" ><i ></i> Quay Lại</button>
                </div>
                
            </div>
        </div>     
    <div ng-repeat="danhsachtrongngay in dsYeuCauTheoNgay" ng-hide="isNhanXet">
       <div class="expandcollapse-item">
            <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
              <p>Ngày {{danhsachtrongngay.ngay.getDate()}}/{{danhsachtrongngay.ngay.getMonth() + 1}}/{{danhsachtrongngay.ngay.getFullYear()}}</p>
            </div>

            <div class="slideDown" ng-show="!active">
              <div class="expand-collapse-content">
                <div class="form-group" >
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Trạng Thái</th>
                        <th>Ngày Làm</th>
                        <th>Tên Thợ</th>
                        <th>Dịch vụ</th>
                        <th>Phí</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="yeucau in danhsachtrongngay.yeucaus">
                            <td>{{yeucau.trangthai}}</td>
                            <td>{{yeucau.ngaylam}}</td>
                            <td>{{yeucau.hotenTho}}</td>
                            <td>{{yeucau.dichvuyc.join(", ")}}</td>
                            <td>{{yeucau.phidichvu | number}} Đ</td>
                            <td><button ng-show="yeucau.trangthai == 'Kết thúc'" class="btn btn-success" ng-click="NhanXet(yeucau)">Nhận xét</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
              </div>
            </div>
        </div>
       </div>
          
  </div>
</section>
      
      
      
    
<!--    <script type='text/javascript'>window._sbzq||function(e){e._sbzq=[];var t=e._sbzq;t.push(["_setAccount",32700]);var n=e.location.protocol=="https:"?"https:":"http:";var r=document.createElement("script");r.type="text/javascript";r.async=true;r.src=n+"//static.subiz.com/public/js/loader.js";var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)}(window);</script>-->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="left">
          <div class="form-inline">
            <h5 class="form-group i fa fa-copyright padright chutrang"> </h5>
            <h5 class="form-group chutrang">Copyright by ProFixer</h5>
          </div>
        </div>
        <div class="right pull-right"><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-facebook"></i></a><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-twitter"></i></a><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-google-plus"></i></a><a href="#" class="btn btn-circle-sm btn-default marright"><i class="fa fa-linkedin"></i></a></div>
      </div>
    </div>
    <!-- JS-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!--preload-->
    <script src="js/preload.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script>
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
    <script src="js/angular-slider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script src="//code.angularjs.org/1.4.4/angular-messages.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script src="slick/slick.min.js"></script>
    <script src="slick/angular/angular-slick.min.js"></script>
    <script src="fullcalendar/angular_full_calendar.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="js/cancelableq.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/nya-bootstrap-select.js"></script>
<!--    <script src="angular/core.js"></script>-->
      <script src= "javascripts/angular-modules.js"></script>
      
      <script src= "javascripts/factory/FixerFactory.js"></script>
      <script src= "javascripts/factory/DataFactory.js"></script>
      <script src= "javascripts/factory/AccountFactory.js"></script>
      <script src= "javascripts/FixerDetailController.js"></script>
      <script src= "javascripts/LoginController.js"></script><script src= "javascripts/FixerListController.js"></script>
             <script src= "javascripts/DangNhapController.js"></script>

      <script src= "javascripts/ThongTinKhachHang.js"></script>
      
      <script src= "javascripts/ThongKeDonHangController.js"></script>
<!--      <script src="angular/angular.js"></script>-->
    <script src="js/search.js"></script>
    <!-- Custom Theme JavaScript-->
  </section>
</body>
</html>