<!DOCTYPE html>  
<html lang="en">  
    <head>
        
        <script src="angular/angular.js"></script>
        <script src="javascripts/YeuCauController.js"></script>
    </head>
      <body ng-app="RentFixer1" ng-controller="YeuCauController">
          <p>Ngay Dat Yeu Cầu</p><input type="text" name="CMND" ng-model= "data.ngaydatyeucau">
          <p>Chi Phi</p><input type="text" name="hoten" ng-model= "data.chiphi">
           <p>Ho ten KH</p><input type="text" name="CMND" ng-model= "data.hotenkh">
          <p>Số điện thoại KH</p><input type="text" name="hoten" ng-model= "data.sodtkh">
           <p>Dịch vụ</p><input type="text" name="CMND" ng-model= "data.dichvu">
          <p>Địa chỉ khách hàng</p><input type="text" name="hoten" ng-model= "data.diachikh">
            <p>CMND nhân viên</p><input type="text" name="CMND" ng-model= "data.cmndfixer">
          <p>Họ tên nhân viên </p><input type="text" name="hoten" ng-model= "data.hotenfixer">
           <p>trạng thái</p><input type="text" name="CMND" ng-model= "data.trangthai">
          <p>Hình thức thanh toán</p><input type="text" name="hoten" ng-model= "data.hinhthucthanhtoan">
          <button onclick="" ng-click="test()">save</button>
      </body>
</html> 
